body {
    font-family: "Roboto", "Raleway",  sans-serif;
    color: #2e2f42;
    background: #fff;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.top-line {
    width: 1440px;
    height: 72px;
    border-bottom: 1px solid #e7e9fc;
    background: #fff;
}

.logo-one {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    width: 138px;
    height: 24px;
}

.logo-two {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.menu-nav {
    margin-top: 0;
    margin-right: 40px;
    }

.nav-link-studio, .nav-link-portfolio, .nav-link-contacts {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.nav-link-studio:hover, .nav-link-portfolio:hover, .nav-link-contacts:hover, .nav-link-studio:active {
    color: #404bbf;
}
.adrs-box-list {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


.big-box {
    background: #2e2f42;
    width: 1440px;
    height: 600px;
}
.big-box-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    padding-top: 188px;
    padding-bottom: 292px;
}

